@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .mask-fade {
    -webkit-mask-image: linear-gradient(to bottom, black 10%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, black 90%);
    mask-image: linear-gradient(to bottom, black 10%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, black 90%);
  }
}


/* remove number input up down arrow  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner buttons for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}



.wrapper {
  width: 70%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 40px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.wrapper2 {
  width: 70%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 40px;
  overflow: hidden;
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.wrapper:hover .item , .wrapper2:hover .rightItem{
  animation-play-state: paused;
}

/* .item:hover, .rightItem:hover{
  background-color: #6b21a8 !important;
  cursor: pointer;
} */

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.rightItem {
  width: 200px;
  position: absolute;
  right: max(calc(200px * 8), 100%);
  animation-name: scrollRight; /* Apply rightward animation */
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: background-color 0.3s ease-in-out;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: background-color 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
  .wrapper, .wrapper2{
    width: 90%;
  }

  .rightItem {
    width: 130px;
    font-size: 13px;
    position: absolute;
    right: max(calc((130px) * 8), 100%);
    animation-name: scrollRight; /* Apply rightward animation */
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: background-color 0.3s ease-in-out;
  }
  
  .item {
    width: 130px;
    font-size: 13px;
    position: absolute;
    left: max(calc(130px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: background-color 0.3s ease-in-out;
  }

}


.wrapper .item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.wrapper .item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.wrapper .item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.wrapper .item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.wrapper .item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.wrapper .item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.wrapper .item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.wrapper .item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}


/* Right Scrolling Items */
.wrapper2 .item1 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.wrapper2 .item2 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.wrapper2 .item3 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.wrapper2 .item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.wrapper2 .item5 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.wrapper2 .item6 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.wrapper2 .item7 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.wrapper2 .item8 {
  animation-delay: calc(30s / 8 * (8 - 0) * -1);
}



html, body {
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .animate-delay-5s {
    animation: appear 0s ease-in 5s forwards;
  }

  .animate-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
  }

  /* .animate-button-click {
    animation: button-click 0.3s ease-in-out 2s forwards;
  } */

  @keyframes clickEffect {
    0% { transform: scale(1); background-color: inherit;}
    50% { transform: scale(0.9); background-color: #8b5cf6; } /* Slight shrink */
    100% { transform: scale(1); background-color: inherit; } /* Back to normal */
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      /* transform: translateY(15px); */
    }
    to {
      opacity: 1;
      /* transform: translateY(0); */
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit (Chrome, Safari) */
}

.tiptap:focus {
  outline: none !important;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Hide scrollbar for IE & Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* For Firefox */
html , .scrollbar{
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 var(--scrollbar-bg);
}

/* Light & Dark Mode Scrollbar Background */
:root {
  --scrollbar-bg: #ffffff; /* Light mode */
}

.dark {
  --scrollbar-bg: #0f0f0f; /* Dark mode */
}

/* WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Adjust width */
  border-radius: 10px; /* Ensures roundness */
}






@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  ;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {

    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  ;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%}
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
